body
{
    background: black;
}
.container
{
    padding: 78px 100px 100px 100px;
}
.container .head h2
{
    color: white;
    font-weight: normal;
}
.container .head p
{
    margin-top: -16px;
}
.container .profile p
{
    color: #004aad;
    margin-top: 30px;
    font-weight: normal;
    margin-right: 12px;
}

.container .profile .card-cover
{
    background: #000000;
    border-radius: 5px;
    width: 100%;
    height: 15rem;
}
.container .profile .card-cover img
{
    width: 100%;
    height: 100%;
}
.container .profile .card-info
{
    padding: 3rem;
    background-color: #0F0F0F;
}
.container .profile .card-info .card-perfil
{
    display: flex;
    justify-content: space-between;
    color: white;
}
.container .profile .card-info .card-perfil .infos
{
    display: flex;
}
.container .profile .card-info .infos .prices
{
    display: flex;
    margin-top: 3px;
    margin-left: auto;
}
.container .profile .card-info .infos .prices .minorprice,
.container .profile .card-info .infos .prices .majorprice
{
    color: #707070;
    font-weight: lighter;
    font-size: 13px;
    margin-right: 1px;
}
.container .profile .card-info .card-perfil .infos .tipo-atendimento .p-style,
.container .profile .card-info .card-perfil .infos .aula-experimental .p-style
{
    color: #707070;
    margin-left: 1px;
}
.container .profile .card-info img
{
    width: 13rem;
    background: white;
    border-radius: 30px;
    margin-right: 20px;
}
.container .profile .card-info h3
{
    font-weight: bold;
    font-size: 25px;
    color: white;
}
.container .profile .card-info h4
{
    font-weight: normal;
    color: white;
    margin-top: 5px;
}
.container .profile .card-info p
{
    color: white;
}
.container .profile .card-info button
{
    background: none;
    border: none;
    width: 70px;
    height: 3rem;
    margin-top: 12px;
}
.container .profile .card-info button:hover
{
    cursor: pointer;
    background-color: #004aad;
    border-radius: 10px;
}
.container .profile .card-info button .fa-pen-to-square
{
    color: white;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
}
.container .profile .card-info i
{
    color: yellow;
    font-size: 15px;
}
.container .profile .card-info a
{
    color: white;
    font-size: 20px;
    text-decoration: none;
    padding: 10px 20px 10px 20px;
}
.container .profile .card-info a:hover,
.container .profile .card-info a .fa-right-from-bracket:hover
{

    background-color: red;
    border-radius: 10px;
}
.container .profile .card-info a .fa-right-from-bracket
{
    color: white;
    position: relative;
    top: -1px;
}
.container .profile .card-info .contents
{
    display: flex;
}
.container .profile .card-info .contents .personaldescription
{
    margin-left: 110px;
    margin-top: -20px;
}
.container .profile .card-info .rate
{
    display: flex;
    position: relative;
    left: 50px;
    margin-top: 10px;
}
.container .profile .card-info .contents h4
{
    margin-top: 47px;
}
.container .profile .card-container
{
    width: 100%;
    margin-top: 6rem;
}
.container .profile .card-container .card-body
{
    padding: 20px 5px 5px 20px;
    background-color: rgb(202, 201, 201);
    display: flex;
}
.container .profile .card-container .card-body .image
{
    width: 10%;
}
.container .profile .card-container .card-body .image img
{
    width: 80%;
    background: rgb(202, 201, 201);
    border-radius: 80px;
}
.container .profile .card-container .card-body .info h3
{
    margin-top: 5px;
    padding-left: 6%;
    font-size: 15px;
}
.container .profile .card-container .card-body .rate
{
    display: flex;
    padding-left: 3%;
}
.container .profile .card-container .card-body .rate h4
{
    margin-top: 0px;
    padding: 0px 5px 0px 5px;
}
.container .profile .card-container .card-body .rate i
{
    color: rgb(195, 195, 3);
}
.container .profile .card-container .description
{
    background-color: rgb(202, 201, 201);
    padding-top: 15px;
    padding-bottom: 15px;
}
.container .profile .card-container .description p
{
    color: black;
    margin-top: -4%;
    padding: 0px 0px 0px 12%;
    display: flex;
    width: auto;
}
.modal
{
    padding: 20px 20px 20px 20px;
    position: absolute;
    background: #131313;
    left: 20rem;
    right: 20rem;
    top: 5rem;
    height: 50rem;
    border-radius: 10px;
    border: solid 1px white;
}
.modal .modal-content
{
    padding: 5rem;
}
.modal .modal-content .modal-title h2
{
    font-weight: bold;
    font-size: 20px;
    color: white;

}
.modal .modal-content .modal-title span
{
    float: right;
    font-size: 3em;
    margin-top: -30px;
    cursor: pointer;
    color: white;
}
.modal .modal-content form
{
    color: white;
}
.modal .modal-content form input[type=text],
.modal .modal-content form input[type=number],
.modal .modal-content form input[type=password]
{
    width: 100%;
    display: inline-block;
    border: 1px solid #545454;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 12px 20px;
    margin: 10px 0px;
    background: none;
    color: white;
    margin-bottom: 20px;
}
.modal .modal-content form input[type=text]:focus-visible,
.modal .modal-content form input[type=number]:focus-visible,
.modal .modal-content form input[type=password]
{
    outline: none;
}
.modal .modal-content form input[type=submit]
{
    width: 100%;
    background-color: #004aad;
    padding: 14px 20px;
    margin: 15px 0;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    color: white;
}
.modal .modal-content form input[type=submit]:hover
{
    background-color: #003585;
}
@media screen and (max-width: 960px)
{
    .container
    {
        padding: 80px 10px 10px 10px;
    }
    .container .profile .card-container .description p
{
    width: auto;
    padding-left: 10%;
    margin-top: -20px;
    margin-left: 20px;
}

}
