body
{
    background: #000000;
}

.container
{
    padding: 78px 100px 100px 100px;
}
.container .title h2
{
    color: white;
    font-weight: normal;
}
.container .title p
{
    color: white;
    margin-top: -16px;
}
.all-services .t-header
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.all-services .t-header button
{
    width: 30px;
    height: 30px;
    border-radius: 10px;
    border: solid 1px #004aad;
    background: none;
}
.all-services .t-header button:hover
{
    background: #004aad;
    cursor: pointer;
}
.all-services .t-header button i
{
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2px;
}
.all-services .t-header p
{
    color: #004aad;
    font-weight: bold;
}
.all-services .list-services .service
{
    background: #121212;
    width: 100%;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 10px;
}
.all-services .list-services .service .name-service
{
    padding: 20px 0 20px 20px;
    width: 70%;
}
.all-services .list-services .service .name-service .price-name
{
    display: flex;
    align-items: center;
    justify-content: start;
    height: 40px;
}
.all-services .list-services .service .name-service .price-name p
{
    color: #004aad;
    margin-top: 0;
    margin-bottom: 2px;
    font-weight: bold;
}

.all-services .list-services .service .name-service .price-name h6
{
    color: #004aad;
    font-size: 15px;
    margin-left: 20px;
}
.all-services .list-services .service .name-service span
{
    color: #a8a8a8;
    font-size: 12px;
    margin-top: -12px;
}
.all-services .list-services .service .buttons-service button
{
    border-radius: 10px;
    border: solid 1px #004aad;
    background-color: #121212;
    cursor: pointer;
    width: 50px;
    height: 30px;
}
.all-services .list-services .service .buttons-service button:hover,
.all-services .list-services .service .buttons-service button:active
{
    background-color: #004aad;
}
.all-services .list-services .service .buttons-service button i
{
    color: white;
}

.modal
{
    padding: 20px 20px 20px 20px;
    position: absolute;
    background: #131313;
    left: 10rem;
    right: 10rem;
    top: 10rem;
    bottom: 10rem;
    height: 23rem;
    border-radius: 10px;
}
.modal .modal-content
{
    margin: 20px 20px;
}
.modal .modal-content .modal-title h2
{
    font-weight: bold;
    font-size: 20px;
    color: white;

}
.modal .modal-content .modal-title span
{
    float: right;
    font-size: 3em;
    margin-top: -30px;
    cursor: pointer;
    color: white;
}
.modal .modal-content form
{
    color: white;
}
.modal .modal-content form input[type=text],
.modal .modal-content form input[type=number]
{
    width: 100%;
    display: inline-block;
    border: 1px solid #545454;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 12px 20px;
    margin: 8px 0;
    background: none;
    color: white;
}
.modal .modal-content form input[type=text]:focus-visible,
.modal .modal-content form input[type=number]:focus-visible
{
    outline: none;
}
.modal .modal-content form input[type=submit]
{
    width: 100%;
    background-color: #004aad;
    padding: 14px 20px;
    margin: 15px 0;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    color: white;
}
.modal .modal-content form input[type=submit]:hover
{
    background-color: #003585;
}

@media screen and (max-width: 960px)
{
    .container
    {
        padding: 80px 10px 10px 10px;
    }
    .all-services .list-services .service .buttons-service button
    {
        margin-bottom: 10px;
    }
    .all-services .list-services .service .name-service
    {
        padding: 20px 20px 20px 20px;
    }
    .modal
    {
        padding: 0 0 0 0;
        left: 9px;
        right: 0;
        width: 95%;
    }
}
