body
{
    -webkit-font-smoothing: antialiased;
    font-family: Montserrat, sans-serif;
    text-rendering: optimizeLegibility;
    background: #000000;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-container
{
    text-align: center;
}
.main-container .box
{
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-container div p
{
    color: white;
}
.main-container div .fa-plus
{
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    border-radius: 10px;
}
.main-container form button i:hover
{
    cursor: pointer;
    color: #004aad;
}
.main-container form .fieldwrapper
{
    color: white;
    font-size: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 50px;
}
.main-container i
{
    color: white;
}
.main-container img
{
    width: 25rem;
}
.main-container form input
{
    width: 100%;
    display: inline-block;
    border: none;
    box-sizing: border-box;
    margin: 8px 0;
    background: none;
    color: white;
}
.main-container form input:focus-visible
{
    outline: none;
}
.main-container form .inputwhatsapp span,
.main-container form .inputinstagram span,
.main-container form .inputcref span
{
    border: none;
    background: transparent;
    color: white;
    width: 45px
}
.main-container form .inputwhatsapp,
.main-container form .inputinstagram,
.main-container form .inputcref
{
    box-shadow: 1px 1px #004aad;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #101010;
    padding: 10px;
    border-radius: 10px;
}
.main-container form .inputwhatsapp input,
.main-container form .inputinstagram input,
.main-container form .inputcref input
{
    width: 100%;
    margin-left: 5px;
}
.main-container form .inputwhatsapp input::placeholder,
.main-container form .inputinstagram input::placeholder,
.main-container form .inputcref input::placeholder
{
    padding-left: 10px;
}
.main-container button
{
    background: none;
    border: none;
    cursor: pointer;
}
.main-container button .fa-arrow-right
{
    font-size: 25px;
}
input:-webkit-autofill
{
    -webkit-box-shadow: 0 0 0 30px #101010   inset;
    -webkit-text-fill-color: rgb(255, 255, 255) !important;
}
