body
{
    font-family: Montserrat, sans-serif;
    text-rendering: optimizeLegibility;
    background: #000000;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-container
{
    text-align: center;
}
.main-container i
{
    color: white;
}
.main-container img
{
    width: 100%;
}
.main-container .contents
{
    border-bottom: solid 1px white;
    color: white;
    font-size: 13px;
    margin-bottom: 50px;
}
.main-container form span
{
    border: none;
    background: transparent;
    color: white;
    width: 45px
}
.main-container form .box-input
{
    box-shadow: 1px 1px #004aad;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    background-color: #101010;
    padding: 10px;
    border-radius: 10px;
}
.main-container form input
{
    display: inline-block;
    border: none;
    box-sizing: border-box;
    margin: 8px 0 8px 5px;
    background: none;
    color: white;
    width: 100%;
}
.main-container form input::placeholder
{
    padding-left: 10px;
}
.main-container form input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px #101010   inset;
    -webkit-text-fill-color: rgb(255, 255, 255) !important;
}
.main-container form input:focus-visible
{
    outline: none;
}
.main-container button
{
    background: none;
    border: none;
    cursor: pointer;
    margin-top: 50px;
    padding: 10px 20px 10px 20px;
}
.main-container button .fa-arrow-right
{
    font-size: 25px;
}
.main-container button:hover
{
    background-color: #004aad;
    border-radius: 10px;
}
