body
{
    -webkit-font-smoothing: antialiased;
    font-family: Montserrat, sans-serif;
    text-rendering: optimizeLegibility;
    background: #000000;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-container
{
    text-align: center;
    width: 25rem;
}
.main-container form .contents input
{
    width: 100%;
    display: inline-block;
    border: none;
    box-sizing: border-box;
    margin: 8px 0;
    background: none;
    color: white;
}
.main-container form .contents input:focus-visible
{
    outline: none;
}
.main-container form .contents input::-webkit-outer-spin-button,
.main-container form .contents input::-webkit-inner-spin-button
{
    -webkit-appearance: none;
    margin: 0;
}
button
{
    text-decoration: none;
    color: white;
}
button:hover
{
    color: #004aad;
}
.main-container form .contents
{
    color: white;
    font-size: 13px;
    margin-bottom: 20px;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.main-container form .fieldwrapper
{
    color: white;
    font-size: 13px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: -40px;
}
.main-container form h1
{
    font-size: 20px;
    color: white;
    margin-bottom: 30px;
}
.main-container form .contents span
{
    border: none;
    background: transparent;
    color: white;
    width: 45px
}
.main-container form .contents .box-input
{
    box-shadow: 1px 1px #004aad;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    background-color: #101010;
    padding: 10px;
    border-radius: 10px;
    width: 10rem;
}
.main-container form button
{
    background: none;
    border: none;
    cursor: pointer;
}
.main-container form .submit
{
    margin-top: 50px;
    padding: 10px 20px 10px 20px;
    color: white;
}
.main-container form .submit .fa-arrow-right
{
    font-size: 25px;
}
.main-container form .submit:hover
{
    background-color: #004aad;
    border-radius: 10px;
}
.fa-trash
{
    margin-bottom: 20px;
}
.inputhourclass,
.inputprice
{
    margin-right: 20px;
}
